*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(200, 233, 235);
}

.slider-container{
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    position: relative;
}

.img-container{
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(180, 237, 240);
    font-size: 40px;
    opacity: .7;
    cursor: pointer;
}

.btn.prev{
    left: 10px;
}

.btn.next{
    right: 10px;
}

.btn:hover{
    opacity: 100%;
}
